* {
  padding: 0;
  margin: 0;
  list-style: none;
  overflow-y: scroll no; 
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

*::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera*/
}

.container,
.other-container {
  display: flex;
}

.game-map {
  padding: 10px;
}


.row ul {
  display: flex;
  width: 300px;
}

li.column {
  list-style: none;
  width: 30px;
  height: 30px;
  border: 1px solid gray;
  box-sizing: border-box;
}

li.column.T{
  background-color: red;
}
li.column.Z{
  background-color: blue;
}
li.column.J{
  background-color: green;
}
li.column.I{
  background-color: yellow;
}
li.column.O{
  background-color: black;
}


.dashboard {
  padding: 10px;
  font-size: 18px;
}

.dashboard .info {
  margin-top: 10px;
}

.dashboard button {
  width: 180px;
  height: 54px;
  border-radius: 5px;
  border: 0;

}

.dashboard button:hover { 
  cursor: pointer;
}